/* RESET DO CSS */
*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}


h1,p {
    text-align: center;
    margin: 10px;
}

header {
    background-color: rgba(1, 120, 255, 0.650);
    color: white;
    padding: 45px;

}

main {
    height: 600px;
    background-color: rgba(1, 120, 255, 0.541);
}

